.inputwrap label  {
display:inline-block;
text-align:right;
width: 7em;
padding-top : 10px;
}
.myForm {
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 0.8em;
color: green;
padding: 1em;
border: 1px solid #ccc;
border-radius: 3px;
}
.inputwrap h {
    display: inline-block;
    width: 6em;
    text-align: right;
}
.myForm * {
box-sizing: border-box;
vertical-align: top;

}

input.txtbox {
display: inline-block;
width: 15em;
text-align: left;
}

.myForm h {
font-size: 1.1em;
}

.myForm input {
border: 1px solid #ccc;
border-radius: 15px;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 0.9em;
padding: 0.5em;
}


.myForm input:hover[type="submit"]{
background: #eee;
cursor: pointer;
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.myForm input[type="submit"] {
padding: 0.7em;
border-radius: 15em;
background: #ddd;
border: none;
font-weight: bold;
margin-left: 1.0em;
}

.topnav {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
	display:block;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #1c41b0;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #2251dd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;

}

.dropdown-content a:hover {
    background-color: #3862e0;
}

.dropdown:hover .dropdown-content{
    display: block;

}
.title h3{
top:7%;
position:absolute;
display:inline;
color:white;
padding-left:10px;
}
.title h1{
color:white;
display:inline;
padding-left:10px;
position:absolute;
font-size:2.5vw;
}
.title h5{
display:inline;
padding-left:10px;
position:absolute;
top:10%;
color:white;
}
.body h3{
margin-top:1%;
}
.title {
background-image:url("download.jpg");
height:8em;
}
html, body{
margin:0;
padding:0;
}
.topnav {

    margin: 0;
    padding-top:1%;
float: right;
    overflow: hidden;
}


.topnav a {
    display: block;
    color: white;
text-align:left;
border-right: 1px solid #000066;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover:not(.active) {
background-color:#6585e7;
}

.topnav a.active {background-color: #4CAF50;}


